.detail-post-title
  +media(max-width 830px)
    font-size: 1.7em
  font-size: 2em
  margin:
    top: -8px

.article-detail
  margin-top: 0px
  margin-bottom: $large-margin
  ul
    //margin:
      bottom: $large-margin
    -webkit-margin-after: 0em
  li
    text-indent: -13px
    -webkit-margin-after: 0em
  p
    margin:
      bottom: -7px

.article-detail p,
.article-detail li
  +media(max-width 830px)
    font-size: 1em
  font-size: 1.05em
  line-height: 1.6em
  color: darken($medium-gray, 30%)

.detail-post-title,
.article-detail h3,
.article-detail li
  //margin:
    bottom: $small-margin

h3.detail-post-topic-list,
.tag-list-link
  +media(max-width 830px)
    font-size: 1.1em
  font-size: 1.05em
  line-height: 1.8em
  margin:
    bottom: $small-margin

a.other-episodes
  font-size: 1.05em

section.tag-list-section
  margin-bottom: 3em

.show_notes_display p
  margin-top: 100px

.show_notes_display b
  font-size: em(25px)
  font-family: neue-haas-unica, sans-serif
  font-weight: 400
  font-style: normal
  margin-top: 30px
  margin-bottom: 10px

.other-episodes
  display: inline-block
  margin-bottom: em(30px)

.soundcloud-player-big
  margin-bottom: 40px

h3#links, h3#questions
  font-family: neue-haas-unica, sans-serif
  font-weight: 700
  font-style: normal
  font-size: 1.5em

h3#questions
  margin-top: 2.7em

h3#links
  margin-top: 1.6em

span.q
  font-family: neue-haas-unica, sans-serif
  font-weight: 400
  font-style: normal
