<!--  <% array = [] %>
  <% blog.articles.each do |article| %>

      <% array << article.data.interviewee %>
      <% end %>

      <%  array = array.uniq.sort_by { |word| word.downcase }%>
    <ul>
      <%  array.each do | interviewee | %>
        <li><a class='other-episodes' href="/tags/<%= dasherize(interviewee) %>"><%= interviewee %></a></li>
    </ul>
      <% end %>
-->

<article class='article-detail'>

  <h3 class='about-header'>
    What is this project all about?
  </h3>
  
  <p>
    Think of it as audio knowledge bombs from distinguished designers and developers that also include newbies and beginners in the conversation.
  </p>
  
  <h3 class='about-header'>
    Is it a podcast then?
  </h3>
  
  <p>
    Sure if you think of it as a series of audio episodes then yes! Micro-podcast might describe it more accurately.
  </p>
  
  <h3 class='about-header'>
    Can you name a few topics you cover on the show?
  </h3>
  
  <p>
    Expect to find content about the following topics: Ruby, Rails, Sinatra, Design Patterns, Jekyll, Responsive Design, Git, Javascript, Client-Side Web Apps, Typography, Web Design, Sass, Prototyping, Letter Design, Rust and more …
  </p>
  
  <h3 class='about-header'>
    What is the focus of Between | Screens?
  </h3>
  
  <p>
    Not sure I even want to have a narrow focus. Conversations with interesting people and exploring cool technologies about code & design on the web maybe?
  </p>
  
  <h3 class='about-header'>
    Why are episodes often super short?
  </h3>
  
  <p>
    Simple: I wanna save you and myself included some time and focus more on the “technical” nitty gritties. As interesting as it can be, expect less industry insider chit chat from this format. Also I want to make it easy for you to skip parts of an interview you don’t care about and to fine-tune what you want to listen to.
  </p>
  
  <h3 class='about-header'>
    Why do you sometimes discuss super basic stuff?
  </h3>
  
  <p>
    I see two reasons: First of all, basic concepts can sometimes become very interesting if you dive deep enough. Secondly, we all know how easy it is to forget that “basic stuff” can be hard for peeps starting out. Atm I feel decrypting the gobbledygooky parts for beginners / newbies is necessary for the goals I have in mind with this project.
  </p>
  
  <h3 class='about-header'>
    Why are you doing this?
  </h3>
  
  <p>
    It's a simple win-win really: I get to learn something new, talk to experts about it, can ask questions left unanswered teaching myelf and I can effectively share this knowledge with the community for free.
  </p>
  
  <h3 class='about-header'>
    Listening to embedded SoundCloud tracks is not working on my mobile browser with Chrome?
  </h3>
  
  <p>
    Other people and myself included have already brought this to SoundCloud’s attention and I really don’t understand what’s taking them so long to fix a major bug like this. I’m sure this won’t be an issue for long (hopefully) and I can only recommend the obvious, namely using another mobile browser of your choice in the meantime.
  </p>
  
  <h3 class='about-header'>
    How can I reach you?
  </h3>
  
  <p>
    Feel free to reach out via email or on Twitter: <a href="https://twitter.com/BetweenScreens_">@BetweenScreens_</a> I would like to sponsor the show!Feel free to reach out via email.
  </p>
  
  <h3 class='about-header'>
    You’re hiring – Getting the word out on Between | Screens?
  </h3>
  
  <p>
    Our audience is global, with talent mostly in engineering & design. Feel free to reach out via emailSo you have sponsors now.
  </p>
  
  <h3 class='about-header'>
    Are you going to sell out?
  </h3>
  
  <p>
    I might do some sponsoring or similar but I have no interest in stuffing stuff down people’s throat. Don’t worry, it seems aiming for integrity and quality is somehow integral to the way I connect neurons in my brain.
  </p>
  
  <h3 class='about-header'>
    I would like to send in my feedback?
  </h3>
  
  <p>
    I’m more than happy to receive feedback. Via Twitter ( <a href="https://twitter.com/BetweenScreens_">@BetweenScreens_</a> ) or email usually works best if you wanna reach me. Feedback on design and functionality is always welcome! If you find a bug, I’ll do my best to fix it.
  </p>
  
  <h3 class='about-header'>
    Any tips for yak shaving season?
  </h3>
  
  <p>
    There is only one thing to do really: Have plenty of razor blades ready.
  </p>
  
  <h3 class='about-header'>
    Why is there an annoying cookiePolicy link on the album cover?
  </h3>
  
  <p>
    Good question, not the best design decision SoundCloud has made imho. The placement is really unfortunate. I can’t hide this text for you due to cross-domain access but I hate it so much that I installed a Chrome extension, Stylish, and added some styles ( .cookiePolicy { display: none; } ) to hide that nonsense via the extension.
  </p>
  
  <h3 class='about-header'>
    What did you use to build this project?
  </h3>
  
  <p>
    Middleman, Sass, Bourbon, Bourbon Neat, CoffeeScript.
  </p>
  
  <h3 class='about-header'>
    Who is behind Between | Screens?
  </h3>
  
  <p>
    Designed, built and produced by <a href="https://vis-kid.github.io/">ed wassermann</a>
  </p>
  
</article>
