<header class="white">
  <div id="logo" class="white">
    <% link_to '/pentagram' do %><%= image_tag 'Pentagramlogolong.svg', alt: 'Logo cube' %><% end %>
  </div>
  <!---
  <nav class="navigation">
  <ul class="nav-list">
    <li><%= link_to 'AMAs', '/at_the_table/amas' %></li>
    <li><%= link_to 'Interviews', '/at_the_table/interviews' %></li>
    <li><%= link_to 'All', '/at_the_table' %></li>
  </ul>
  </nav>
  -->
</header>
